<a href="{{img}}">Фото</a><br>
Артикул: <a href="{{link}}">{{vendorCode}}</a><br>
Остатки: <b>{{stock}}</b><br>
Продажи в день (за 3 недели): <b>{{avgOrdersCountPerDay}}</b><br>
Нужно собрать: <b>{{need}}</b><br>