👋 {{name}}, добро пожаловать! Ваша роль - <b>АДМИН</b><br>
<br>
Проверка остатков и продажи запускается автоматически в <b>00:05 каждый день</b><br>
В качестве результата, если товаров > 5, бот будет присылать <b>.xlsx</b> файл, иначе по каждому товару будет присылаться
карточка с данными<br>
Чтобы запустить проверку вручную, нажмите на кнопку <br><b>Обновить данные🔁</b> 👇🏽
